<h1><%= @restaurant.name %></h1>

<p><%= link_to 'Back', restaurants_path %></p>
<p><%= link_to 'Write a review', new_restaurant_review_path(@restaurant) %></p>

<h3>Reviews</h3>
<% @restaurant.reviews.each do |review| %>
<p><%= "#{review.rating} stars | #{review.content}" %></p>
<% end %>

<%# render 'reviews/form' %>
